<div class="container">
    <h1 class="text-primary">NEWS</h1>
    <p class="text-dark">
        ZOPZ SNIFF No-Log Policy: At ZOPZ SNIFF, your privacy and security are our top priority, and we are committed to ensuring that your personal data is handled responsibly and transparently by operating under a strict no-log policy, meaning we do not collect or store any data such as browsing history, traffic data, connection timestamps, IP addresses, device information, or session durations, and the only information we retain is your username, which is necessary to manage account access and service functionality, and your HUID (Hardware Unique Identifier), which is used solely for device identification within the service, and this minimal information is stored securely and not shared with any third parties, as we are dedicated to ensuring no further logs are created or stored that could compromise your online activity or privacy, and we maintain full transparency with our data-handling practices, notifying users promptly if any changes are made to this policy and providing full details of those changes to maintain our trust-based relationship.
    </p>
    <br>
    <%- include('dash/partials/chat.html') %>
</div>
