<div class="container">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm border-primary" style="max-width: 100%; min-height: 400px;">
                <div class="card-header d-flex align-items-center">
                    <span>Terms of Service</span>
                </div>
                <div class="card-body">
                    <div class="font-weight-bold">
                        <h5>End of Service</h5>
                        <p>ZOPZ SNIFF's End-of-Service (EOS) marks the cessation of our services. Upon shutdown or discontinuation, users lose access to their plans.</p>
                    </div>

                    <div class="font-weight-bold">
                        <h5>Terms of Service</h5>
                        <ul>
                            <li>No leaking or sharing login details. Users must not share login details, resulting in irrevocable bans unless proven false.</li>
                            <li>Sharing or trying to harm ZOPZ SNIFF's Site will result in account termination.</li>
                        </ul>
                    </div>

                    <div class="font-weight-bold">
                        <h5>Return Policy</h5>
                        <p>All purchases are considered final and non-refundable. We strongly advise careful consideration prior to making a purchase. Support services are available for inquiries and assistance by dming @ProjectZOPZ.</p>
                    </div>

                    <div class="font-weight-bold">
                        <h5>Terms of Service Agreement</h5>
                        <p>By utilizing our service, users implicitly agree to adhere to the outlined terms, which are subject to change at our discretion. Non-compliance may result in service termination, with decisions made by staff deemed authoritative. While appeal options exist, reversals are not guaranteed.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card shadow-sm border-primary" style="max-width: 500px;">
                        <div class="card-header d-flex align-items-center">
                            <span>Statistics</span>
                        </div>

                        <div class="card-body">
                            <div class="font-weight-bold">
                                <i class="bi bi-person-fill"></i> Total Users: <span class="text-primary"><%= totalUsers %></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card shadow-sm border-primary" style="max-width: 500px;">
                        <div class="card-header d-flex align-items-center">
                            <span>User Info</span>
                        </div>

                        <div class="card-body">
                            <div class="font-weight-bold">Username: <span class="text-primary"><%= user.username %></span></div>
                            <div>Level: <span class="font-weight-bold text-primary"><%= user.level %></span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card shadow-sm border-primary" style="max-width: 500px;">
                        <div class="card-header d-flex align-items-center">
                            <span>Contact Info</span>
                        </div>

                        <div class="card-body">
                            <div class="font-weight-bold">
                                <p>Feel free to reach out to us through the following contact methods:</p>
                                <ul>
                                    <li><i class="bi bi-discord"></i> <a href="https://discord.gg/qYMzZ8wsy2" target="_blank" class="text-primary">Discord</a></li>
                                    <li><i class="bi bi-telegram"></i> <a href="https://t.me/ProjectZOPZ" target="_blank" class="text-primary">Telegram</a></li>
                                    <li><i class="bi bi-envelope"></i> <a href="mailto:Fire004005@gmail.com" class="text-primary">Email</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
